
.card-list-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap; /* 允许子项自动换行 */
    flex-grow: 1; /* 占据剩余空间 */
    margin-top: 1.8rem;
    gap: 0.5rem;
    margin-left: 3.3rem;
}

.card-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}