.wrapper {
    display: flex;
    height: 1.3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

ul {
    position: absolute;
    list-style-type: none; /* 移除列x表前的默认标记 */
    padding: 0; /* 移除默认的padding */
    margin: 0;
    display: flex; /* 使用Flexbox布局 */
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap; /* 防止子元素换行 */
    scrollbar-width: none; /* Firefox */
    gap: 0.5rem;

    li {
        width: 2.4rem;
        height: 1.1rem;
        background-color: #f5f7fd;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        img {
            width: 0.5rem;
            height: 0.5rem;
        }

        .options-text {
            font-size: 0.3rem;
            font-weight: 600;
            color: #1b2337;
        }
    }

}
